# dependencies
node_modules/

# coverage
coverage/

# env
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vim swap files
*.swp
*.swo
*.swx
